@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
  font-family: 'Lato', sans-serif;
  display: block;
}

header{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1.5em;
}

img {
  margin: 2em 1em;
  max-width: 100%;
  height: auto;
}

nav header {
  font-size: 2.2em;
  text-align: center;
  margin: 5px;
  margin-right: 0px;
  padding-left: 35px;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

code {
  background: #f4f4f4;
  margin-bottom: 1.6em;
  margin-left: 2em;
  padding: 1em 1em;
  word-wrap: break-word;
  font-family: monospace;
  max-width: 100%;
  overflow: auto;
  display: block;
  white-space: pre-wrap;
  text-align: left;
  margin-right: 6em;
}

p code {
    margin: 0em .3em;
    padding: 0em;
    display: inline;
}

p {
  line-height: 1.5;
  padding-left: .5em;
  padding-right: 3em;
  white-space: normal;
}


li {
  line-height: 2;
}

#navbar {
  height: 100%;
  width: 355px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  zoom: 80%;
  border-color: grey;
  border-width: .9px;
  border-style: solid;
  color: black;
}
#navbar a {
  padding: 11px 8px 11px 32px;
  display: block;
  border-color: grey;
  border-width: .9px;
  border-style: solid;
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}

nav ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 815px){
#navbar {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 270px;
  border: none;
  z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
    overflow-x: hidden;
  }


}

main {
  margin-left: 300px;
  padding: 20px;
}

#intro_header{
  margin-top: 10px;
}
